:root{
	--dark: #0a0a0a;
	--dark-x: #111111;
	--dark-xx: #222222;
	--light: #ffffff;
	--primary: #ff7069;
	--primary-x: #fe3051;
	--muted: #a1b0bf;
}


body{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	color: var(--light);
	background-color: var(--dark);
}
.text-muted{ color: var(--muted) !important; }

.bg-dark { background-color: var(--dark) !important;  }

.navbar{
	min-height: 5rem;
}

.text-primary{
	background: linear-gradient(90deg, var(--primary) 0%, var(--primary-x) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.btn{
	font-weight: 700;
	padding: .8rem 1rem;
	border: 0;
	border-radius: .4rem;
}

.btn-primary{
	background: linear-gradient(90deg, var(--primary) 0%, var(--primary-x) 100%);
	color: var(--light);
}

.btn-secondary{
	background-color: var(--dark-x);
}

 
.btn-secondary:hover{
	background-color: var(--dark-x);
	opacity: .8;
}

.shadow{
	box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, .5) !important;
}